# Virtual Environment
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Telethon session files
*.session
*.session-journal

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local development files
local_settings.py
db.sqlite3
